wsclient/trunk/src/main/resources/DqaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="DqaService"
     targetNamespace="http://dqaws.openimmunizationsoftware.org/dqa/"
     xmlns:dsvc="http://dqaws.openimmunizationsoftware.org/dqa/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:dqa="http://dqaws.openimmunizationsoftware.org/dqa/schema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dqaws.openimmunizationsoftware.org/dqa/">
      <xsd:import schemaLocation="DqaService.xsd" namespace="http://dqaws.openimmunizationsoftware.org/dqa/schema"/>
      
      <xsd:element name="submitMessageRequest" type="dqa:SubmitMessageType"/>
      <xsd:element name="submitMessageResponse" type="dqa:SubmitMessageResultType"/>

<!--
      <xsd:element name="getBatchesRequest" type="dqa:GetBatchesType"/>
      <xsd:element name="getBatchesResponse" type="dqa:GetBatchesResultType"/>

      <xsd:element name="getBatchDqaReportRequest" type="dqa:GetBatchDqaReportType"/>
      <xsd:element name="getBatchDqaReportResponse" type="dqa:GetBatchDqaReportResultType"/>

      <xsd:element name="createMessageBatchRequest" type="dqa:CreateMessageBatchType"/>
      <xsd:element name="createMessageBatchResponse" type="dqa:CreateMessageBatchResultType"/>

      <xsd:element name="updateSubmitterProfileRequest" type="dqa:UpdateSubmitterProfileType"/>
      <xsd:element name="updateSubmitterProfileResponse" type="dqa:UpdateSubmitterProfileResultType"/>

      <xsd:element name="getSubmitterProfileRequest" type="dqa:GetSubmitterProfileType"/>
      <xsd:element name="getSubmitterProfileResponse" type="dqa:GetSubmitterProfileResultType"/>

      <xsd:element name="getReportTemplatesRequest" type="dqa:GetReportTemplatesType"/>
      <xsd:element name="getReportTemplatesResponse" type="dqa:GetReportTemplatesResultType"/>

      <xsd:element name="getCodeReceivedListRequest" type="dqa:GetCodeReceivedListType"/>
      <xsd:element name="getCodeReceivedListResponse" type="dqa:GetCodeReceivedListResultType"/>

      <xsd:element name="updateCodeReceivedRequest" type="dqa:UpdateCodeReceivedType"/>
      <xsd:element name="updateCodeReceivedResponse" type="dqa:UpdateCodeReceivedResultType"/>

      <xsd:element name="getPotentialIssueStatusListRequest" type="dqa:GetPotentialIssueStatusListType"/>
      <xsd:element name="getPotentialIssueStatusListResponse" type="dqa:GetPotentialIssueStatusListResultType"/>

      <xsd:element name="updatePotentialIssueStatusRequest" type="dqa:UpdatePotentialIssueStatusType"/>
      <xsd:element name="updatePotentialIssueStatusResponse" type="dqa:UpdatePotentialIssueStatusResultType"/>

      <xsd:element name="getBatchRequest" type="dqa:GetBatchType"/>
      <xsd:element name="getBatchResponse" type="dqa:GetBatchResultType"/>

      <xsd:element name="getBatchIssueListRequest" type="dqa:GetBatchIssueListType"/>
      <xsd:element name="getBatchIssueListResponse" type="dqa:GetBatchIssueListResultType"/>

      <xsd:element name="getBatchReportRequest" type="dqa:GetBatchReportType"/>
      <xsd:element name="getBatchReportResponse" type="dqa:GetBatchReportResultType"/>

      <xsd:element name="getBatchActionListRequest" type="dqa:GetBatchActionListType"/>
      <xsd:element name="getBatchActionListResponse" type="dqa:GetBatchActionListResultType"/>

      <xsd:element name="getBatchVaccineCvxListRequest" type="dqa:GetBatchVaccineCvxListType"/>
      <xsd:element name="getBatchVaccineCvxListResponse" type="dqa:GetBatchVaccineCvxListResultType"/>

      <xsd:element name="getBatchCodeReceivedListRequest" type="dqa:GetBatchCodeReceivedListType"/>
      <xsd:element name="getBatchCodeReceivedListResponse" type="dqa:GetBatchCodeReceivedListResultType"/>

      <xsd:element name="getMessageReceivedListRequest" type="dqa:GetMessageReceivedListType"/>
      <xsd:element name="getMessageReceivedListResponse" type="dqa:GetMessageReceivedListResultType"/>

      <xsd:element name="getMessageReceivedDetailsRequest" type="dqa:GetMessageReceivedDetailsType"/>
      <xsd:element name="getMessageReceivedDetailsResponse" type="dqa:GetMessageReceivedDetailsResultType"/>

      <xsd:element name="getPatientRequest" type="dqa:GetPatientType"/>
      <xsd:element name="getPatientResponse" type="dqa:GetPatientResultType"/>

      <xsd:element name="getVaccinationListRequest" type="dqa:GetVaccinationListType"/>
      <xsd:element name="getVaccinationListResponse" type="dqa:GetVaccinationListResultType"/>

      <xsd:element name="getNextOfKinListRequest" type="dqa:GetNextOfKinListType"/>
      <xsd:element name="getNextOfKinListResponse" type="dqa:GetNextOfKinListResultType"/>
-->                                                 
    </xsd:schema>

  </wsdl:types>
  
  <wsdl:message name="submitMessageRequest">
    <wsdl:part name="request" element="dsvc:submitMessageRequest"/>
  </wsdl:message>
  <wsdl:message name="submitMessageResponse">
    <wsdl:part name="result" element="dsvc:submitMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="submitMessageFault">
    <wsdl:part name="fault" element="dqa:Fault"/>
  </wsdl:message>

<!--
  <wsdl:message name="getBatchesRequest">
    <wsdl:part name="request" element="dsvc:getBatchesRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchesResponse">
    <wsdl:part name="result" element="dsvc:getBatchesResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchesFault">
    <wsdl:part name="fault" element="dsvc:getBatchesFault"/>
  </wsdl:message>
  
  <wsdl:message name="getBatchDqaReportRequest">
    <wsdl:part name="request" element="dsvc:getBatchDqaReportRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchDqaReportResponse">
    <wsdl:part name="result" element="dsvc:getBatchDqaReportResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchDqaReportFault">
    <wsdl:part name="fault" element="dsvc:getBatchDqaReportFault"/>
  </wsdl:message>
  
  <wsdl:message name="createMessageBatchRequest">
    <wsdl:part name="request" element="dsvc:createMessageBatchRequest"/>
  </wsdl:message>
  <wsdl:message name="createMessageBatchResponse">
    <wsdl:part name="result" element="dsvc:createMessageBatchResponse"/>
  </wsdl:message>
  <wsdl:message name="createMessageBatchFault">
    <wsdl:part name="fault" element="dsvc:createMessageBatchFault"/>
  </wsdl:message>
  
  <wsdl:message name="updateSubmitterProfileRequest">
    <wsdl:part name="request" element="dsvc:updateSubmitterProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="updateSubmitterProfileResponse">
    <wsdl:part name="result" element="dsvc:updateSubmitterProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="updateSubmitterProfileFault">
    <wsdl:part name="fault" element="dsvc:updateSubmitterProfileFault"/>
  </wsdl:message>
  
  <wsdl:message name="getSubmitterProfileRequest">
    <wsdl:part name="request" element="dsvc:getSubmitterProfileRequest"/>
  </wsdl:message>
  <wsdl:message name="getSubmitterProfileResponse">
    <wsdl:part name="result" element="dsvc:getSubmitterProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="getSubmitterProfileFault">
    <wsdl:part name="fault" element="dsvc:getSubmitterProfileFault"/>
  </wsdl:message>
  
  <wsdl:message name="getReportTemplatesRequest">
    <wsdl:part name="request" element="dsvc:getReportTemplatesRequest"/>
  </wsdl:message>
  <wsdl:message name="getReportTemplatesResponse">
    <wsdl:part name="result" element="dsvc:getReportTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="getReportTemplatesFault">
    <wsdl:part name="fault" element="dsvc:getReportTemplatesFault"/>
  </wsdl:message>
  
  <wsdl:message name="getCodeReceivedListRequest">
    <wsdl:part name="request" element="dsvc:getCodeReceivedListRequest"/>
  </wsdl:message>
  <wsdl:message name="getCodeReceivedListResponse">
    <wsdl:part name="result" element="dsvc:getCodeReceivedListResponse"/>
  </wsdl:message>
  <wsdl:message name="getCodeReceivedListFault">
    <wsdl:part name="fault" element="dsvc:getCodeReceivedListFault"/>
  </wsdl:message>

  <wsdl:message name="updateCodeReceivedRequest">
    <wsdl:part name="request" element="dsvc:updateCodeReceivedRequest"/>
  </wsdl:message>
  <wsdl:message name="updateCodeReceivedResponse">
    <wsdl:part name="result" element="dsvc:updateCodeReceivedResponse"/>
  </wsdl:message>
  <wsdl:message name="updateCodeReceivedFault">
    <wsdl:part name="fault" element="dsvc:updateCodeReceivedFault"/>
  </wsdl:message>

  <wsdl:message name="getPotentialIssueStatusListRequest">
    <wsdl:part name="request" element="dsvc:getPotentialIssueStatusListRequest"/>
  </wsdl:message>
  <wsdl:message name="getPotentialIssueStatusListResponse">
    <wsdl:part name="result" element="dsvc:getPotentialIssueStatusListResponse"/>
  </wsdl:message>
  <wsdl:message name="getPotentialIssueStatusListFault">
    <wsdl:part name="fault" element="dsvc:getPotentialIssueStatusListFault"/>
  </wsdl:message>

  <wsdl:message name="updatePotentialIssueStatusRequest">
    <wsdl:part name="request" element="dsvc:updatePotentialIssueStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="updatePotentialIssueStatusResponse">
    <wsdl:part name="result" element="dsvc:updatePotentialIssueStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="updatePotentialIssueStatusFault">
    <wsdl:part name="fault" element="dsvc:updatePotentialIssueStatusFault"/>
  </wsdl:message>

  <wsdl:message name="getBatchRequest">
    <wsdl:part name="request" element="dsvc:getBatchRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchResponse">
    <wsdl:part name="result" element="dsvc:getBatchResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchFault">
    <wsdl:part name="fault" element="dsvc:getBatchFault"/>
  </wsdl:message>

  <wsdl:message name="getBatchIssueListRequest">
    <wsdl:part name="request" element="dsvc:getBatchIssueListRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchIssueListResponse">
    <wsdl:part name="result" element="dsvc:getBatchIssueListResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchIssueListFault">
    <wsdl:part name="fault" element="dsvc:getBatchIssueListFault"/>
  </wsdl:message>

  <wsdl:message name="getBatchReportRequest">
    <wsdl:part name="request" element="dsvc:getBatchReportRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchReportResponse">
    <wsdl:part name="result" element="dsvc:getBatchReportResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchReportFault">
    <wsdl:part name="fault" element="dsvc:getBatchReportFault"/>
  </wsdl:message>
  
  <wsdl:message name="getBatchActionListRequest">
    <wsdl:part name="request" element="dsvc:getBatchActionListRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchActionListResponse">
    <wsdl:part name="result" element="dsvc:getBatchActionListResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchActionListFault">
    <wsdl:part name="fault" element="dsvc:getBatchActionListFault"/>
  </wsdl:message>

  <wsdl:message name="getBatchVaccineCvxListRequest">
    <wsdl:part name="request" element="dsvc:getBatchVaccineCvxListRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchVaccineCvxListResponse">
    <wsdl:part name="result" element="dsvc:getBatchVaccineCvxListResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchVaccineCvxListFault">
    <wsdl:part name="fault" element="dsvc:getBatchVaccineCvxListFault"/>
  </wsdl:message>

  <wsdl:message name="getBatchCodeReceivedListRequest">
    <wsdl:part name="request" element="dsvc:getBatchCodeReceivedListRequest"/>
  </wsdl:message>
  <wsdl:message name="getBatchCodeReceivedListResponse">
    <wsdl:part name="result" element="dsvc:getBatchCodeReceivedListResponse"/>
  </wsdl:message>
  <wsdl:message name="getBatchCodeReceivedListFault">
    <wsdl:part name="fault" element="dsvc:getBatchCodeReceivedListFault"/>
  </wsdl:message>

  <wsdl:message name="getMessageReceivedListRequest">
    <wsdl:part name="request" element="dsvc:getMessageReceivedListRequest"/>
  </wsdl:message>
  <wsdl:message name="getMessageReceivedListResponse">
    <wsdl:part name="result" element="dsvc:getMessageReceivedListResponse"/>
  </wsdl:message>
  <wsdl:message name="getMessageReceivedListFault">
    <wsdl:part name="fault" element="dsvc:getMessageReceivedListFault"/>
  </wsdl:message>

  <wsdl:message name="getMessageReceivedDetailsRequest">
    <wsdl:part name="request" element="dsvc:getMessageReceivedDetailsRequest"/>
  </wsdl:message>
  <wsdl:message name="getMessageReceivedDetailsResponse">
    <wsdl:part name="result" element="dsvc:getMessageReceivedDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="getMessageReceivedDetailsFault">
    <wsdl:part name="fault" element="dsvc:getMessageReceivedDetailsFault"/>
  </wsdl:message>

  <wsdl:message name="getPatientRequest">
    <wsdl:part name="request" element="dsvc:getPatientRequest"/>
  </wsdl:message>
  <wsdl:message name="getPatientResponse">
    <wsdl:part name="result" element="dsvc:getPatientResponse"/>
  </wsdl:message>
  <wsdl:message name="getPatientFault">
    <wsdl:part name="fault" element="dsvc:getPatientFault"/>
  </wsdl:message>

  <wsdl:message name="getVaccinationListRequest">
    <wsdl:part name="request" element="dsvc:getVaccinationListRequest"/>
  </wsdl:message>
  <wsdl:message name="getVaccinationListResponse">
    <wsdl:part name="result" element="dsvc:getVaccinationListResponse"/>
  </wsdl:message>
  <wsdl:message name="getVaccinationListFault">
    <wsdl:part name="fault" element="dsvc:getVaccinationListFault"/>
  </wsdl:message>
  
  <wsdl:message name="getNextOfKinListRequest">
    <wsdl:part name="request" element="dsvc:getNextOfKinListRequest"/>
  </wsdl:message>
  <wsdl:message name="getNextOfKinListResponse">
    <wsdl:part name="result" element="dsvc:getNextOfKinListResponse"/>
  </wsdl:message>
  <wsdl:message name="getNextOfKinListFault">
    <wsdl:part name="fault" element="dsvc:getNextOfKinListFault"/>
  </wsdl:message>
-->

  <wsdl:portType name="DqaService">
    <wsdl:operation name="submitMessage">
      <wsdl:input message="dsvc:submitMessageRequest"/>
      <wsdl:output message="dsvc:submitMessageResponse"/>
      <wsdl:fault name="fault" message="dsvc:submitMessageFault"/>
    </wsdl:operation>
<!--
    <wsdl:operation name="getBatches">
      <wsdl:input message="dsvc:getBatchesRequest"/>
      <wsdl:output message="dsvc:getBatchesResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchesFault"/>
    </wsdl:operation>
    <wsdl:operation name="getBatchDqaReport">
      <wsdl:input message="dsvc:getBatchDqaReportRequest"/>
      <wsdl:output message="dsvc:getBatchDqaReportResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchDqaReportFault"/>
    </wsdl:operation>
    <wsdl:operation name="createMessageBatch">
      <wsdl:input message="dsvc:createMessageBatchRequest"/>
      <wsdl:output message="dsvc:createMessageBatchResponse"/>
      <wsdl:fault name="fault" message="dsvc:createMessageBatchFault"/>
    </wsdl:operation>
    <wsdl:operation name="updateSubmitterProfile">
      <wsdl:input message="dsvc:updateSubmitterProfileRequest"/>
      <wsdl:output message="dsvc:updateSubmitterProfileResponse"/>
      <wsdl:fault name="fault" message="dsvc:updateSubmitterProfileFault"/>
    </wsdl:operation>
    <wsdl:operation name="getSubmitterProfile">
      <wsdl:input message="dsvc:getSubmitterProfileRequest"/>
      <wsdl:output message="dsvc:getSubmitterProfileResponse"/>
      <wsdl:fault name="fault" message="dsvc:getSubmitterProfileFault"/>
    </wsdl:operation>
    <wsdl:operation name="getReportTemplates">
      <wsdl:input message="dsvc:getReportTemplatesRequest"/>
      <wsdl:output message="dsvc:getReportTemplatesResponse"/>
      <wsdl:fault name="fault" message="dsvc:getReportTemplatesFault"/>
    </wsdl:operation>
    <wsdl:operation name="getCodeReceivedList">
      <wsdl:input message="dsvc:getCodeReceivedListRequest"/>
      <wsdl:output message="dsvc:getCodeReceivedListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getCodeReceivedListFault"/>
    </wsdl:operation>
    <wsdl:operation name="updateCodeReceived">
      <wsdl:input message="dsvc:updateCodeReceivedRequest"/>
      <wsdl:output message="dsvc:updateCodeReceivedResponse"/>
      <wsdl:fault name="fault" message="dsvc:updateCodeReceivedFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPotentialIssueStatusList">
      <wsdl:input message="dsvc:getPotentialIssueStatusListRequest"/>
      <wsdl:output message="dsvc:getPotentialIssueStatusListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getPotentialIssueStatusListFault"/>
    </wsdl:operation>
    <wsdl:operation name="updatePotentialIssueStatus">
      <wsdl:input message="dsvc:updatePotentialIssueStatusRequest"/>
      <wsdl:output message="dsvc:updatePotentialIssueStatusResponse"/>
      <wsdl:fault name="fault" message="dsvc:updatePotentialIssueStatusFault"/>
    </wsdl:operation>
    <wsdl:operation name="getBatch">
      <wsdl:input message="dsvc:getBatchRequest"/>
      <wsdl:output message="dsvc:getBatchResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchFault"/>
    </wsdl:operation>
    <wsdl:operation name="getBatchIssueList">
      <wsdl:input message="dsvc:getBatchIssueListRequest"/>
      <wsdl:output message="dsvc:getBatchIssueListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchIssueListFault"/>
    </wsdl:operation>
    <wsdl:operation name="getBatchReport">
      <wsdl:input message="dsvc:getBatchReportRequest"/>
      <wsdl:output message="dsvc:getBatchReportResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchReportFault"/>
    </wsdl:operation>
    <wsdl:operation name="getBatchActionList">
      <wsdl:input message="dsvc:getBatchActionListRequest"/>
      <wsdl:output message="dsvc:getBatchActionListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchActionListFault"/>
    </wsdl:operation>
    <wsdl:operation name="getBatchVaccineCvxList">
      <wsdl:input message="dsvc:getBatchVaccineCvxListRequest"/>
      <wsdl:output message="dsvc:getBatchVaccineCvxListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchVaccineCvxListFault"/>
    </wsdl:operation> 
    <wsdl:operation name="getBatchCodeReceivedList">
      <wsdl:input message="dsvc:getBatchCodeReceivedListRequest"/>
      <wsdl:output message="dsvc:getBatchCodeReceivedListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getBatchCodeReceivedListFault"/>
    </wsdl:operation> 
    <wsdl:operation name="getMessageReceivedList">
      <wsdl:input message="dsvc:getMessageReceivedListRequest"/>
      <wsdl:output message="dsvc:getMessageReceivedListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getMessageReceivedListFault"/>
    </wsdl:operation> 
    <wsdl:operation name="getMessageReceivedDetails">
      <wsdl:input message="dsvc:getMessageReceivedDetailsRequest"/>
      <wsdl:output message="dsvc:getMessageReceivedDetailsResponse"/>
      <wsdl:fault name="fault" message="dsvc:getMessageReceivedDetailsFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPatient">
      <wsdl:input message="dsvc:getPatientRequest"/>
      <wsdl:output message="dsvc:getPatientResponse"/>
      <wsdl:fault name="fault" message="dsvc:getPatientFault"/>
    </wsdl:operation>     
    <wsdl:operation name="getVaccinationList">
      <wsdl:input message="dsvc:getVaccinationListRequest"/>
      <wsdl:output message="dsvc:getVaccinationListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getVaccinationListFault"/>
    </wsdl:operation>
    <wsdl:operation name="getNextOfKinList">
      <wsdl:input message="dsvc:getNextOfKinListRequest"/>
      <wsdl:output message="dsvc:getNextOfKinListResponse"/>
      <wsdl:fault name="fault" message="dsvc:getNextOfKinListFault"/>
    </wsdl:operation>
-->
  </wsdl:portType>
    
  <wsdl:binding name="DqaServiceSOAP" type="dsvc:DqaService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="submitMessage">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/submitMessage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

<!--
    <wsdl:operation name="getBatches">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatches"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatchDqaReport">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatchDqaReport"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="createMessageBatch">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/createMessageBatch"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updateSubmitterProfile">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/updateSubmitterProfile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getSubmitterProfile">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getSubmitterProfile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getReportTemplates">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getReportTemplates"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCodeReceivedList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getCodeReceivedList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updateCodeReceived">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/updateCodeReceived"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getPotentialIssueStatusList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getPotentialIssueStatusList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updatePotentialIssueStatus">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/updatePotentialIssueStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatch">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatch"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatchIssueList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatchIssueList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatchReport">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatchReport"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatchActionList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatchActionList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatchVaccineCvxList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatchVaccineCvxList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getBatchCodeReceivedList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getBatchCodeReceivedList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getMessageReceivedList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getMessageReceivedList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getMessageReceivedDetails">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getMessageReceivedDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getPatient">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getPatient"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getVaccinationList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getVaccinationList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getNextOfKinList">
      <soap:operation soapAction="http://dqaws.openimmunizationsoftware.org/dqa/getNextOfKinList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
-->

  </wsdl:binding>
  
  <wsdl:service name="DqaService">
    <wsdl:port name="DqaServiceSOAP" binding="dsvc:DqaServiceSOAP">
      <soap:address location="http://dqaws.openimmunizationsoftware.org/dqa/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
